:javascript
  updateUrl = '#{admin_talk_path(id: resource.id)}';
  audioFile = '#{vrmedia_url(resource, "-clean.mp3", true)}';
  revisions = #{(resource.edit_config || []).to_json};

= javascript_include_tag 'audio_editor/angular-min'
= javascript_include_tag 'audio_editor/application'

%div{:"ng-controller" => "AudioController", :"ng-app" => "AudioCutter"}
  .outer
    #inner.inner
      %waveform{:duration => "duration", :val => "data"}
  %audio#audio2{:hidden => "true", :src => "click.mp3"}
  %br/
  %audio#audio1{"ng-src" => "{{file.url}}"}
    HTML5 audio is not supported
  %br/
  %input#audiofile{"ng-model" => "file.url", :style => "width:600px", :type => "text"}/
  / Button width set so overall size doesn't change when we toggle the label
  %button#playButton{"ng-click" => "playFile()", :style => "width: 80px"}
    {{playerButtonLabel}}
  %div
    Elapsed Time:
    %input#timeDisplay{"ng-model" => "currentTime", :type => "label"}
